
.greetingBlock {
    min-height: 90vh;
}

.greetingContainer {
    align-items: center;
    text-align: center;
}

.greeting {
   width: 100%;
}

.statusMe{
    font-size: 30px;
    font-family: 'Livvic', sans-serif;
    letter-spacing: 0.1em;
    font-weight: 300;
    text-shadow:  none;
    background-color: #cda173;
    align-self: center;
    width: max-content;
    color: #1b1b1b;
}

.greetingCommon{
    display: flex;
    flex-direction: column;
    align-items: center;
}



