.App {
  text-align: center;
}

h1 {
  color: white;
  font-family: 'Livvic', sans-serif;
  font-size: 110px;
  letter-spacing: 0.1em;
  font-weight: 700;
}
h2 {
  font-family: 'Livvic', sans-serif;
  font-size: 40px;
  letter-spacing: 0.1em;
  font-weight: 600;
}
h3 {
  font-family: 'Livvic', sans-serif;
  font-size: 20px;
  letter-spacing: 0.1em;
  font-weight: 600;
}

.colorClass{
  color: #cda173;
}

.shadowApp{
  text-shadow:  8px 8px #545252;
}

/*.backColor{
  color: #cda173,//progect
  color: #a7a3a3, //footer
  color: #d2caca,//skills
  color: #e5e5e5,//aboutMe
}*/
